.header__container {
  width: 100vw;
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgb(255, 238, 238);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container nav {
  position: relative;
  /* overflow: hidden; */
}

.header__container nav ul {
  overflow: hidden;
  position: absolute;
  top: -22px;
  right: -20px;
  padding: 20px;
  height: 100vh;
  background-color: rgb(255, 154, 154);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: all 400ms ease-in;
}

.header__container .header__menuClose {
  cursor: pointer;
}

.header__container .header__menu {
  margin: 50px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.header__container nav ol {
  display: none;
}

.header__container nav ul li {
  cursor: pointer;
  font-weight: 700;
  transition: all 400ms ease-in;
}

.header__container nav ul li:hover {
  color: red;
}

.main__container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1;
  overflow-x: hidden;
}

.main__container .main_left {
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main__container .main_left input {
  width: 100%;
  padding: 7px;
}

.main__container .main_right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px;
}

.main__container .main_right .unit__container img {
  width: 100%;
  object-fit: contain;
}

.main__container .main_right .unit__container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header__container nav ul,
  .header__container nav .header__menuClick {
    display: none;
  }

  .header__container nav ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header__container nav ol li {
    font-weight: 700;
    cursor: pointer;
    transition: all 400ms ease-in;
  }

  .header__container nav ol li:hover {
    color: red;
  }
}
